.login-section{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    background-image: url("https://img.freepik.com/premium-photo/doctor-s-stethoscope-with-blue-background_23-2147652363.jpg");
    min-height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

h1{
    text-align: center;
    font-size: 300px;
}

#email{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#password{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#submit{
    background-color: #AFD2FC;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}